@import "tailwindcss";

/* Custom scrollbar for chat window */
.chat-scroll::-webkit-scrollbar {
  width: 6px;
}
.chat-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.chat-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}
.chat-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}